Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace= "http://venus.sod.asu.edu/WSRepository/xml/"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--root node Hotels: first layer-->
	<element name ="Hotels">
		<complexType>
			<sequence>
				<!--2ND LAYER: Hotels, multiple hotels allowed-->
				<element name ="Hotel" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<!--3RD LAYER: Hotel Name, Rating, Phone, Address-->
							<element name ="Name" type="string"/>
							<element name ="Phone" type="string" minOccurs ="1" maxOccurs="unbounded"/>
							<element name ="Address">
								<complexType>
									<sequence>
										<!--4TH LAYER: Number, Street, City, State, Zip-->
										<element name ="Number" type ="string"/>
										<element name="Street" type="string"/>
										<element name="City" type="string"/>
										<element name="State" type="string"/>
										<element name="Zip" type="string"/>
									</sequence>
									<attribute name ="NearestAirport" type="string" use="required"/>
								</complexType>
							</element>
						</sequence>
						<attribute name ="Rating" type="decimal" use="optional"/>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>
